/* GERAL */

.cabecalho-geral{
    background-color: rgba(0,0,0,.98);
    background-image: linear-gradient(to right, transparent, grey 400%);
    height: 7em;
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

@media screen and (max-width: 680px) {
    .cabecalho-geral {
        display: flex;
        flex-direction: column;
    }
}

.logo-header{
    opacity: 1;
    position: absolute;
    left: .5em;
    margin-top: .5em;
}

@media screen and (max-width: 680px) {
    .logo-header{
        transform: scale(.8);
        width: 100%;
        text-align: center;
        left: -.05em;
        margin-top: .2em;
    }
}


/* MENU REDES SOCIAIS */

.redes-sociais-header{
    color: goldenrod;
    height: inherit;
    text-align: right;
}

.redes-sociais-header ul{
    padding: 1em;
    padding-bottom: 3em;
    padding-top: 1.5em;
}

.redes-sociais-header li{
    display: inline-block;
}

.redes-sociais-header a{
    margin-top: 4.2em;
    margin-left: 0em;
    text-decoration: none;
    display: inherit;
    position: relative;
    border-radius: 15px;
}

@media screen and (max-width: 850px), (max-height: 600px) {
    .redes-sociais-header a{
        margin-top: 8.5em;
        font-size: 75%;
    }
}

@media screen and (max-width: 680px) {
    .redes-sociais-header a{
        margin-top: 8.5em;
        margin-right: .5em;
        margin-left: .5em;
        font-size: 75%;
    }
}

.redes-sociais-header b{
    color: yellow;
    font-family: "Merienda", cursive;
    font-size: 16px;
    text-shadow: 1px 1px 22px goldenrod;
    padding: 1em;
    position: absolute;
    opacity: .8;
}

@media screen and (max-width: 680px) {
    .redes-sociais-header b {
        display: none;
    }
}

.whatsapp-home{
    width: 2.2em;
    height: 2.2em;
    background-image:url("../img/whatsapp_icon.png");
    background-repeat: no-repeat;
    margin-right: .25em;
    transition: .3s cubic-bezier(0,3,.2,.5);
}

@media screen and (max-width: 850px), (max-height: 600px) {
    .whatsapp-home{
        background-image: url("../img/whatsapp_icon_dois.png");
    }
}

.facebook-home{
    width: 2.2em;
    height: 2.2em;
    background-image:url("../img/facebook_icon.png");
    background-repeat: no-repeat;
    margin-right: .25em;
    transition: .3s cubic-bezier(0,3,.2,.5);
}

@media screen and (max-width: 850px), (max-height: 600px) {
    .facebook-home{
        background-image: url("../img/facebook_icon_dois.png");
    }
}

.instagram-home{
    width: 2.2em;
    height: 2.2em;
    background-image:url("../img/instagram_icon.png");
    background-repeat: no-repeat;
    margin-right: 5em;
    transition: .3s cubic-bezier(0,3,.2,.5);
}

@media screen and (max-width: 850px), (max-height: 600px) {
    .instagram-home{
        background-image:url("../img/instagram_icon_dois.png");
    }
}

@media screen and (hover: hover){
    .whatsapp-home:hover, .instagram-home:hover, .facebook-home:hover{
        transform: scale(1.2,1.2);
    }
}

.citacao-um{
    left: 8.5em;
    top: 1.5em;
}

.citacao-dois{
    left: 10em;
    top: 4em;
}

/* MENU DE NAVEGAÇÃO */

.menu-de-navegacao{
    background: linear-gradient(to right, darkgoldenrod 20%, goldenrod 50%, gold 70%);
    height: 2.5em;
    padding-top: 1em;
    margin-top: -2.7em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
}

@media screen and (max-height: 600px){
    .menu-de-navegacao {
        display: none;
    }
}

@media screen and (max-width: 850px){
    .menu-de-navegacao {
        display: none;
    }
}

.menu-de-navegacao li{
    display: inline-block;
}

.menu-de-navegacao li a{
    font-family: "serif";
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.menu-de-navegacao li a:hover{
    color: darkgoldenrod;
    text-shadow: 1px 1px 1px black;
}


/* MENU HAMBURGUER */

@media screen and (min-width: 850px) {
    .menu-mobile{
        display: none;
    }
}

@media screen and (max-height: 600px) {
    .menu-mobile{
        display: block;
    }
}

header input{
    display: none;
}

@media screen and (orientation: portrait){
    header input:checked ~ label .menu-hamburguer{
        box-shadow: 0 0 0 150vh rgba(255,255,255,.65), 0 0 0 150vh rgba(255,255,255,.7);
        transition: .5s ease-in-out;
    }
}

@media screen and (orientation: landscape){
    header input:checked ~ label .menu-hamburguer{
        box-shadow: 0 0 0 150vw rgba(255,255,255,.65), 0 0 0 150vw rgba(255,255,255,.7);
        transition: .5s ease-in-out;
    }
}

header input:not(:checked) ~ label .menu-hamburguer{
    box-shadow: 0 0 0 0 rgba(0,0,0,.4), 0 0 0 0 rgba(0,0,0,.4);
    transition: .5s ease-in-out;
}

header input:not(:checked) ~ label .menu-hamburguer-links{
    display: none;
}

header input:checked ~ label .menu-hamburguer-links ul{
    opacity: 1;
}

header input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

header input:checked ~ label .hamburguer:before{
    transform: rotate(90deg);
    top: 0;
}

header input:checked ~ label .hamburguer:after{
    top: 0;
}

.menu-hamburguer{
    background: rgba(255,255,255,.8);
    width: 30px;
    height: 30px;
    border-radius: 15%;
    position: fixed;
    top: 8.5em;
    right: 1em;
    border: 2px solid goldenrod;
    box-shadow: 0 0 0 0 white, 0 0 0 0 white;
}

.menu-hamburguer-links ul{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    display: block;
    opacity: 0;
    transition: .5s .25s ease-in-out;
}

@media screen and (orientation: landscape){
    .menu-hamburguer-links ul{
        top: 0%;
    }
}

.menu-hamburguer-links li{
    margin: 6.5vh;
}

@media screen and (orientation: landscape){
    .menu-hamburguer-links li{
        margin: 5vh;
    }
}

.menu-hamburguer-links a{
    font-family: "Merienda", cursive;
    color: darkgoldenrod;
    font-size: 3vh;
    text-decoration: none;
    font-weight: bold;
}

.hamburguer{
    display: block;
    background: darkgoldenrod;
    width: 20px;
    height: 2px;
    position: relative;
    top: 1em;
    left: .4em;
    transition: .5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    background: darkgoldenrod;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer::before{
    top: -7.5px;
}

.hamburguer::after{
    top: 7.5px;
}