/* GERAL */

body{
    background-color: black;
}

article h2:first-letter{
    font-size: 200%;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

article h2{
    color: goldenrod;
    font-size: 180%;
    padding: .6em;
    padding-top: 1.8em;
    margin-top: 5em;
    text-shadow: 1px 1px 1px black;
}

@media(max-width: 375px) {
    article h2{
        font-size: 150%;
        margin-top: 6em;
    }
}

article h3{
    font-size: 110%;
    margin-top: 1em;
    margin-bottom: .5em;
}

article h4{
    font-size: 115%;
    margin-top: 2em;
    margin-bottom: 1em;
}

article footer .leia-mais-button-dois{
    width: 17em;
}

.background-image-hong-kong-brasil{
    background-image: url(/img/background_cinco.jpg);
    background-position: 50% 45%;
}


/* CHEGADA DO WING CHUN NO BRASIL */

.chegada-wing-chun-brasil{
    font-size: 16px;
    background-color: rgba(255,255,255,.85);
    text-align: center;
}

@media(max-width: 750px) {
    .chegada-wing-chun-brasil{
    background-color: rgba(255,255,255,1);
    }
}

.chegada-wing-chun-brasil p{
    text-indent: 1em;
    line-height: 1.6em;
    margin: 1em;
}

.greco-wong-foto{
    width: 14em;
    margin: 1em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

@media() {
    .greco-wong-foto{
        width: 20%;
    }
}

.turma-greco-wong-foto{
    width: 32em;
    margin: 1em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

.greco-lo-foto{
    width: 14em;
    margin: 1em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

@media() {
    .greco-lo-foto{
        width: 20%;
    }
}

.thomas-bastao-foto{
    width: 32em;
    margin: 1em;
    border: .2px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px white;
}

@media(max-width: 430px) {
    .greco-wong-foto,
    .greco-lo-foto{
        width: 50%;
    }
}

@media(min-width: 321px) and (max-width: 550px) {
    .thomas-bastao-foto,
    .turma-greco-wong-foto{
        width: 90%;
    }
}

@media(max-width: 320px) {
    .thomas-bastao-foto,
    .turma-greco-wong-foto{
        width: 85%;
    }
}