/* GERAL */

body{
    background-color: black;
}

section h2:first-letter{
    font-size: 200%;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

section h2{
    color: goldenrod;
    font-size: 180%;
    padding: .6em;
    padding-top: 2em;
    text-shadow: 1px 1px 1px black;
}

@media (max-width: 500px) {
    section h2{
        font-size: 150%;
    }
}

section h3{
    color: black;
    font-size: 135%;
    margin-top: 2em;
    margin-bottom: 1em;
}

@media (max-width: 500px) {
    section h3{
        font-size: 110%;
        margin-top: 1em;
    }
}

section h4{
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 500px) {
    section h4{
        font-size: 100%;
    }
}

section li{
    font-size: 105%;
    width: 45em;
    padding: 1em;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    border: 2.2px solid black;
    border-radius: 5px;
    position: relative;
}

@media(max-width: 980px) {
    section li{
        width: 80%;
    }
}

section .subtitulo-lista{
   font-size: 130%;
   color: goldenrod;
   text-shadow: 1px 1px 1px black;
   border: none;
}

section li img{
    position: absolute;
    top: .4em;;
    left: .8em;
}

@media (max-width: 500px) {
    section li img{
        display: none;
    }
}

section footer .leia-mais-button-dois{
    width: 8em;
    margin-top: 1em;
}

.background-image-horarios{
    background-image: url(/img/background_oito.jpg);
    background-position: 88% 45%;
}


/* LISTA DOS HORÁRIOS DE TREINO */

.horarios{
    font-size: 16px;
    background-color: rgba(255,255,255,.85);
    text-align: center;
    font-weight: bold;
    margin-top: 9em;
}

@media(max-width: 750px) {
    .horarios{
    background-color: rgba(255,255,255,1);
    }
}

.horarios p{
    font-size: 90%;
    text-indent: 1em;
    line-height: 1.6em;
    margin: .8em;
}

@media (max-width: 980px) {
    .horarios p{
        width: 65%;
        height: 4em;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .horarios p{
        width: 90%;
        height: 100%;
    }
}

.horarios-lista{
    background-color: white;
}