/* GERAL */

body{
    background-color: black;
}

article embed{
    width: 0px;
}

article h2:first-letter{
    font-size: 105%;
    font-family: "arial";
    font-weight: bold;
}

article h2 {
    font-size: 200%;
    padding-top: .6em;
    padding-bottom: 1em;
}

article footer{
    font-size: 120%;
    font-weight: bold;
    max-width: 32em;
    background-color: black;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px black;
    border-radius: 15px;
    text-align: center;
}

article footer a{
    font-size: 85%;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

article footer a:hover{
    font-size: 15px;
    text-shadow: 1px 1px 5px white;
}

.background-image-um{
    background-image: url("../img/background_um.jpg");
    box-shadow: 1px 1px 5px darkgoldenrod;
}

.background-image-dois{
    background-image: url("../img/background_dois.jpg");
    background-position: 50% 0;
    box-shadow: 1px 1px 5px darkgoldenrod;
}

.background-image-tres{
    background-image: url("../img/background_tres.jpg");
    background-position: 50% 0;
    background-attachment: local;
}


/* ARTIGO SOBRE A ACADEMIA */

.sobre-academia-pinheiro{
    font-size: 14px;
    color: white;
    background-color: rgba(0,0,0,.3);
    min-height: 26em;
    text-shadow: 1px 1px 1px black;
}

.sobre-academia-texto{
    min-height: 20em;
    max-width: 34.5em;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    margin: 1em;
    margin-bottom: 0;
    padding: .5em;
    padding-top: 0;
    box-shadow: 1px 1px 10px black;
    order: -1;
}

@media(max-width: 979px){
    .sobre-academia-texto{
        text-align: center;
    }
}

.sobre-academia-pinheiro p{
    max-width: 34.5em;
    text-align: justify;
    line-height: 1.6em;
}

.imagens-gif{
    position: relative;
    margin: .23em;
    margin-top: 1em;
}

@media (max-width: 309px){
    .imagens-gif{
        font-size: 60%;
    }
}

@media (min-width: 310px) and (max-width: 359px){
    .imagens-gif{
        font-size: 70%;
    }
}

@media (min-width: 360px) and (max-width: 409px){
    .imagens-gif{
        font-size: 80%;
    }
}

@media (min-width: 410px) and (max-width: 460px){
    .imagens-gif{
        font-size: 90%;
    }
}

.gifs-alternando{
    float: right;
    width: 30em;
    height: 18em;
    margin: 1em;
    border: .2px solid black;
    border-radius: 1000px;
    box-shadow: 1px 1px 25px black;
}

.foto-primeira-placa{
    position: absolute;
    top: 1em;
    right: 28em;
    width: 3em;
    height: 18em;
    box-shadow: 5px 5px 5px black;
}

.foto-segunda-placa{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 3em;
    height: 18em;
    box-shadow: 5px 5px 5px black;
}


/* ARTIGO SOBRE O MESTRE */

.sobre-mestre-thomas{
    background-color: rgba(255,255,255,.6);
    color: black;
    min-height: 26em;
    margin-bottom: 0;
    padding-top: 2em;
    position: relative;
}

@media (min-width: 1001px){
    .sobre-mestre-texto{
        position: absolute;
        right: 0em;
        padding-right: 1em;
    }
}

@media (max-width: 1000px){
    .sobre-mestre-texto{
        background-color: rgba(255,255,255,.5);
        border-radius: 5px;
        box-shadow: 1px 1px 10px 10px black;
        padding-left: 5em;
        padding-right: 5em;
        text-align: center;
    }
}

@media (max-width: 574px){
    .sobre-mestre-texto{
        margin: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.sobre-mestre-thomas p{
    max-width: 29em;
    line-height: 1.6em;
    font-size: 100%;
    text-align: justify;
}

@media (max-width: 574px){
    .sobre-mestre-thomas p{
        max-width: 60em;
    }
}

.thomas-ideograma-fotos{
    background-image: linear-gradient(to bottom, rgba(255,255,255,.8) 40%, rgba(0,0,0,.4) 50%);
    border-radius: 5px;
    box-shadow: 1px 1px 10px 10px black;
    padding-bottom: .5em;
    padding-top: .5em;
    position: absolute;
}

@media (min-width: 1001px){
    .thomas-ideograma-fotos{
        height: 51em;
        width: 100%;
    }
}

@media (min-width: 575px) and (max-width: 1000px){
    .thomas-ideograma-fotos{
        opacity: .2;
    }
}

@media (max-width: 574px){
    .thomas-ideograma-fotos{
        display: none;
    }
}

.foto-thomas-pinheiro-home{
    width: 26em;
    height: 47em;
    margin-top: 1.7em;
    margin-right: 1em;
    border: .2px solid black;
    box-shadow: 1px 1px 10px black;
}

.foto-ideogramas-index{
    width: 12.5em;
    height: 47em;
    margin-top: 1.7em;
    opacity: .5;
    border-radius: 0px 5px 5px 0px;
}

.sobre-mestre-thomas .leia-mais-button-um{
    margin-right: auto;
    margin-left: auto;
    display: block;
}


/* ARTIGO SOBRE O WING CHUN */

.sobre-wing-chun{
    background-color: rgba(0,0,0,.6);
    color: white;
    min-height: 28em;
    margin-top: 0;
}

@media (min-width: 1001px){
    .sobre-wing-chun-texto{
        position: absolute;
        right: 0em;
        padding-right: 1em;
    }
}

@media (max-width: 1000px){
    .sobre-wing-chun-texto{
        background-color: rgba(0,0,0,.5);
        border-radius: 5px;
        box-shadow: 1px 1px 10px 10px black;
        padding-left: 5em;
        padding-right: 5em;
        margin-top: 1em;
        text-align: center;
    }
}

@media (max-width: 574px){
    .sobre-wing-chun-texto{
        margin: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.sobre-wing-chun p{
    max-width: 29em;
    line-height: 1.6em;
    font-size: 100%;
    text-align: justify;
}

@media (max-width: 574px){
    .sobre-wing-chun p{
        max-width: 60em;
    }
}

.sobre-wing-chun .leia-mais-button-um{
    margin-right: auto;
    margin-left: auto;
    display: block;
}


/* ARTIGO SOBRE AS APRESENTAÇÕES */

.apresentacoes-eventos{
    font-size: 16px;
    min-height: 40em;
    color: black;
    background: linear-gradient(to bottom right, rgba(255,255,255,.2) 50%, rgba(0,0,0));
    text-align: center;
    padding-top: 2em;
}

.apresentacoes-eventos .background-opacity-inner{
    padding: 1em;
    border-radius: 80px;
}

.apresentacoes-eventos p{
    font-size: 110%;
    padding-bottom: 1em;
    max-width: 70em;
}

.apresentacoes-eventos li{
    padding: 1em;
    max-width: 70em;
}

.apresentacoes-eventos .leia-mais-button-dois{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
 
.video-chines-um, .video-chines-dois{
    width: 30%;
    margin: .5em;
    margin-bottom: 1em;
    margin-top: 2em;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px black;
}

@media (max-width: 360px){
    .video-chines-um, .video-chines-dois{
        width: 80%;
    }
}

@media (min-width: 361px) and (max-width: 450px){
    .video-chines-um, .video-chines-dois{
        width: 60%;
    }
}

@media (min-width: 451px) and (max-width: 650px){
    .video-chines-um, .video-chines-dois{
        width: 50%;
    }
}

@media (min-width: 651px) and (max-width: 850px){
    .video-chines-um, .video-chines-dois{
        width: 40%;
    }
}

@media (min-width: 851px) and (max-width: 1050px){
    .video-chines-um, .video-chines-dois{
        width: 35%;
    }
}   