/* GERAL */

body{
    background-color: black;
}

article h2:first-letter{
    font-size: 200%;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

article h2{
    color: goldenrod;
    font-size: 180%;
    padding: .6em;
    padding-top: 1.8em;
    margin-top: 5em;
    text-shadow: 1px 1px 1px black;
}

@media(max-width: 420px) {
    article h2{
        font-size: 150%;
        margin-top: 6em;
    }
}

article h3{
    font-size: 110%;
    margin-top: 1em;
}

article footer .leia-mais-button-dois{
    width: 18em;
}

section{
    margin-bottom: 3em;
}

.background-image-tai-chi{
    background-image: url("../img/background_seis.jpg");
    background-position: 50% 35%;
}


/* HISTÓRIA DO TAI CHI CHUAN */

.historia-tai-chi{
    font-size: 16px;
    background-color: rgba(255,255,255,.9);
    text-align: center;
}

@media(max-width: 750px) {
    .historia-tai-chi{
    background-color: rgba(255,255,255,1);
    }
}

.historia-tai-chi p{
    text-indent: 1em;
    line-height: 1.6em;
    margin: 1em;
}

.mestre-lo-foto{
    width: 30em;
    margin: 1em;
    border: .2px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px white;
}

.mestre-yang-foto{
    width: 11em;
    margin: 1.5em;
    margin-top: 0;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

@media(max-width: 440px) {
    .mestre-yang-foto{
        width:40%;
    }
}

.tai-chi-gif{
    width: 30em;
    margin: 1em;
    margin-top: 0;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

.mestre-tai-chi-foto{
    width: 12em;
    margin: 1.5em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

.mestre-lo-foto-dois{
    width: 12em;
    margin: 1.5em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

.mestre-thomas-pinheiro-foto{
    width: 11.5em;
    margin: 1.5em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

@media (min-width: 361px) and (max-width: 540px) {
    .mestre-lo-foto,
    .tai-chi-gif{
        width: 90%;
    }
}

@media(max-width: 360px) {
    .mestre-lo-foto,
    .tai-chi-gif{
        width: 85%;
    }
}

@media(max-width: 440px) {
    .mestre-tai-chi-foto,
    .mestre-lo-foto-dois,
    .mestre-thomas-pinheiro-foto{
        width: 40%;
    }
}

.final-section{
    margin-bottom: 0;
}