/* GERAL */

body{
    background-color: black;
}

article h2:first-letter{
    font-size: 200%;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

article h2{
    color: goldenrod;
    font-size: 180%;
    padding: .6em;
    padding-top: 1.8em;
    margin-top: 5em;
    text-shadow: 1px 1px 1px black;
}

@media(max-width: 375px) {
    article h2{
        font-size: 150%;
        margin-top: 6em;
    }
}

article h3{
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: .5em;
}

article footer .leia-mais-button-dois{
    width: 17em;
}

.background-image-wing-chun{
    background-image: url("../img/background_cinco.jpg");
    background-position: 50% 45%;
}


/* HISTÓRIA DO WING CHUN KUEN */

.historia-wing-chun{
    font-size: 16px;
    background-color: rgba(255,255,255,.85);
    text-align: center;
}

@media(max-width: 750px) {
    .historia-wing-chun{
    background-color: rgba(255,255,255,1);
    }
}

.historia-wing-chun p{
    text-indent: 1em;
    line-height: 1.6em;
    margin: 1em;
}

.shaolin-foto{
    width: 36em;

    margin: 1em;
    border: .2px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px white;
}

@media(max-width: 630px) {
    .shaolin-foto{
        width: 90%;
    }
}

.escritura-um{
    width: 16em;
    height: 15em;
    margin: 1em;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 15px white;
}

.wing-chun-fight{
    width: 22em;
    height: 18em;
    margin: 1em;
}

.escritura-dois{
    width: 16em;
    height: 15em;
    margin: 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 15px white;
}

@media(max-width: 390px) {
    .wing-chun-fight, 
    .escritura-um, 
    .escritura-dois{
        width: 90%;
        height: 100%;
    }
}

.leung-jan-foto{
    width: 12.2em;
    height: 15.5em;
    margin: 1.5em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

.leung-bik-foto{
    width: 12.2em;
    height: 15.5em;
    margin: 1.5em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

.escritura-tres{
    width: 12em;
    height: 15.5em;
    margin: 1.5em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px white;
}

@media(max-width: 320px) {
    .leung-jan-foto, 
    .leung-bik-foto, 
    .escritura-tres{
        width: 60%;
        height: 100%;
    }
}