/* GERAL */

body{
    background-color: black;
}

article h2:first-letter{
    font-size: 200%;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

article h2{
    color: goldenrod;
    font-size: 180%;
    padding: .6em;
    padding-top: 2em;
    margin-top: 3em;
    text-shadow: 1px 1px 1px black;
}

@media(max-width: 375px) {
    article h2{
        font-size: 150%;
    }
}

article footer .leia-mais-button-dois{
    width: 12em;
    
}

.background-image-apresentacoes{
    background-image: url(/img/background_festa.jpg);
    background-position: 50% 45%;
}


/* APRESENTAÇÕES E EVENTOS */

.lista-apresentacoes{
    font-size: 16px;
    color: black;
    background-color: rgba(255,255,255,.85);
    text-align: center;
    margin-top: 8em;
}

@media(max-width: 750px) {
    .lista-apresentacoes{
    background-color: rgba(255,255,255,1);
    }
}

.lista-apresentacoes p{
    font-size: 110%;
    text-indent: 1em;
    line-height: 1.6em;
    margin: 1em;
    padding-bottom: 1em;
}

.lista-apresentacoes li{
    padding: 1em;
}

.video-chines-um{
    width: 30%;
    margin: 1.5em;
    border: 5px solid darkgoldenrod;
    box-shadow: 1px 1px 10px black;
}

.video-chines-dois{
    width: 30%;
    margin: 1.5em;
    border: 5px solid darkgoldenrod;
    box-shadow: 1px 1px 10px black;
}

@media(min-width: 701px) and (max-width: 900px) {
    .video-chines-um,
    .video-chines-dois{
        width: 40%;
    }
}

@media(min-width: 551px) and (max-width: 700px) {
    .video-chines-um,
    .video-chines-dois{
        width: 50%;
    }
}

@media(min-width: 401px) and (max-width: 550px) {
    .video-chines-um,
    .video-chines-dois{
        width: 60%;
    }
}

@media(max-width: 400px) {
    .video-chines-um,
    .video-chines-dois{
        width: 75%;
    }
}