/* GERAL */

body{
    background-color: black;
}

div h2:first-letter{
    font-size: 200%;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

div h2{
    color: goldenrod;
    font-size: 180%;
    padding: .6em;
    padding-top: 1.8em;
    margin-top: 5em;
    text-shadow: 1px 1px 1px black;
}

@media(min-width: 421px) and (max-width: 560px) {
    div h2{
        font-size: 150%;
        margin-top: 6em;
    }
}

@media(max-width: 420px) {
    div h2{
        font-size: 130%;
        margin-top: 7em;
    }
}

div footer .leia-mais-button-dois{
    width: 21em;
}

.background-image-genealogia{
    background-image: url(/img/background_cinco.jpg);
    background-position: 50% 45%;
}


/* GENEALOGIA DA ACADEMIA PINHEIRO */

.genealogia{
    font-size: 16px;
    background-color: rgba(255,255,255,.85);
    text-align: center;
}

.genealogia-foto{
    width: 50em;
    height: 55em;
    margin: 1em;
    border: .2px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 15px black;
}

@media(min-width: 661px) and (max-width: 840px) {
    .genealogia-foto{
        width: 95%;
        height: 100%;
    }
}

@media(min-width: 321px) and (max-width: 660px) {
    .genealogia-foto{
        width: 90%;
        height: 100%;
    }
}

@media(max-width: 320px) {
    .genealogia-foto{
        width: 85%;
        height: 100%;
    }
}